/* Style the tab buttons */
.tablink {
    border: none;
    outline: none;
    cursor: pointer;
    padding: 12px;
    font-size: 15px;
    width: 100px;
}
 
/* Change background color of buttons on hover */
.tablink:hover {
    background-color: var(--md-primary-fg-color);
}

.tablink:focus{
    background-color: var(--md-primary-fg-color);
}
 


 
/* Set default styles for tab content */
.tabcontent {
    display: none;
}